NODE_ENV=development
PORT=3010

JWT_SECRET=

PG_HOST=localhost
PG_PORT=5432
PG_USER=gengo
PG_PASSWORD=gengo
PG_DATABASE=gengo

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=safety-svc
KAFKA_TOPIC_SAFETY_SOS=safety.sos.triggered

SPARROW_TOKEN=
SPARROW_FROM=GenGo
SPARROW_BASE_URL=https://api.sparrowsms.com/v2
